<!DOCTYPE html>
<html lang="en">
<head>
    <!-- loginform -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Font Icon -->
    <link rel="stylesheet" href="~/assets/loginForm/fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="~/assets/loginForm/css/style.css">    <!-- loginform -->
</head>
<body>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!-- LogInForm Template Main JS File -->
    <script src="~/assets/loginForm/vendor/jquery/jquery.min.js"></script>
    <script src="~/assets/loginForm/js/main.js"></script>
   
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>