@page
@model LoginModel

<title>Login</title>

<div class="main">
    <!-- Sing in  Form -->
    <section class="sign-in">
        <div class="container">
            <div class="signin-content">
                <div class="signin-image">
                    <figure><img src="~/assets/loginForm/images/signin-image.jpg" alt="sing up image"></figure>
                    <a href="/Identity/Account/Register" class="signup-image-link">Create an account</a>
                </div>

                <div class="signin-form">
                    <h2 class="form-title">Sign up</h2>
                    <form method="POST" class="register-form" id="login-form">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="form-group">
                            <label asp-for="Input.Email" class="form-label"><i class="zmdi zmdi-account material-icons-name"></i></label>
                            <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="Your Name" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.Password" class="form-label"><i class="zmdi zmdi-lock"></i></label>
                            <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Password" />                            
                            <span asp-validation-for="Input.Password" class="text-danger"></span>

                        </div>
                        <div class="form-group">
                            <input class="form-check-input" asp-for="Input.RememberMe" />
                            <label asp-for="Input.RememberMe" for="remember-me" class="form-label label-agree-term"><span><span></span></span>Remember me</label>
                            
                        </div>
                        <div class="form-group form-button">
                            <input id="login-submit" type="submit" name="signin" class="form-submit w-100 btn btn-lg btn-primary" value="Log in" />
                        </div>
                        <div>
                            <p>
                                <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                            </p>
                            <p>
                                <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                            </p>
                            <p>
                                <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                            </p>
                            </div>
                    </form>

                    <div class="social-login">
                        <span class="social-label">Or login with</span>
                        <ul class="socials">
                            <li><a href="#"><i class="display-flex-center zmdi zmdi-facebook"></i></a></li>
                            <li><a href="#"><i class="display-flex-center zmdi zmdi-twitter"></i></a></li>
                            <li><a href="#"><i class="display-flex-center zmdi zmdi-google"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
